extends layout

block content
  div.content
    h1= title
    p This is the list of funds in list #[span.font-weight-bold #{listName}]
    table.table.table-striped.table-bordered(id='fundlist')
      thead
        tr
          th.sortable(onclick="sortTable(0)") 
            i
            span Id
          th.sortable(onclick="sortTable(1)") 
            i
            span Name
          th.sortable(onclick="sortTable(2)") 
            i
            span Type
          th.sortable(onclick="sortTable(3)") 
            i
            span Fee
          th.sortable(onclick="sortTable(4)") 
            i
            span 3 Mon %
          th.sortable(onclick="sortTable(5)") 
            i
            span Updated
          th.sortable(onclick="sortTable(6)") 
            i
            span SMA6P %
          th.sortable(onclick="sortTable(7)") 
            i
            span SMA10P %
      tbody
          each fund in funddata
            tr
              td=fund.id
              td
                a(href='https://www.avanza.se/fonder/om-fonden.html/' + fund.id target='_blank') #{fund.name}
              td=fund.history.type
              td=fund.history.managementFee
              td=fund.history.changeSinceThreeMonths
              td=fund.history.NAVLastUpdated
              td=fund.sma6
              td=fund.sma10
